html{
    scroll-behavior: smooth;
}

@media screen and (max-width: 768px) {
    /* Estilos para telas menores, como smartphones */
  }
  
  @media screen and (min-width: 769px) {
    /* Estilos para telas maiores, como tablets e desktops */
  }  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
}

*::-webkit-scrollbar {
    width: 15px;
  }
  
  *::-webkit-scrollbar-track {
    background: rgb(44, 43, 44);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: rgba(255,179,225,1);
    border-radius: 20px;
    border: 3px solid rgb(43, 43, 44);
  }

heather{ 
    font-family:sans-serif;
    background-color: rgba(255,179,225,1);
    position:fixed;
    top:0px;
    right: 0px;
    left:0px;
    margin:0px;
    font-size: 16px;
    z-index: 999;
}

.navbar{
    overflow:hidden; /*esconde a barra de rolagem*/
    display: flex;
    gap:15px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.navbar a{
    color:rgb(7, 7, 7);
    text-decoration:none;
    padding: 1% 5% 1% 5%;
}

.navbar a:hover{
    color:rgb(255, 255, 255);
    background-color:#f8a7e0;
    transition: 0.5s;

}

.apresentacao{
    background: url(/imgs/img_apresent.png), lightgray 70% / cover no-repeat;
    background-size: 100%;
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

.apresentacao_titulo{
    padding-left: 20%;
    padding-right: 20%;
    color: var(--White, #FFF);
    text-align: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 67.2px */
}

.apresentacao_paragrafo{
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 10%;
    color: var(--White, #FFF);
    text-align: center;
    font-family:sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 27px */
}

.conteudos{
    background: rgb(255,255,255);
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    padding-bottom: 5%;
    
}

.opcoes_1{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    padding-left: 10%;
    padding-right: 10%;
    flex-wrap: wrap;
}

.opcoes_2{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    padding-left: 6%;
    padding-right: 10%;
    flex-wrap: wrap;
}

.principios_imagens_publico{
    width: 80%;
}

.principios_imagens_cliente{
    width: 27%;
}

.principios_imagens_produto{
    width: 80%;
}

.principios_imagens_julgamento{
    width: 53%;
}

.principios_imagens_gerenciamento{
    width: 40%;
}

.principios_imagens_profissao{
    width: 66%;
}

.principios_imagens_colegas{
    width: 80%;
}

.principios_imagens_pessoal{
    width: 94%;
}

/*.principios img{
    width: 48px;
    height: 48px;
}*/

.principios{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding:50px;
    border-radius:20px;
}

.principios_titulo{
    color: var(--Black, #2b272c);
    text-align: center;
    /* Heading/H5 */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 33.6px */
}

.principios:hover{
    background-color:rgb(255, 255, 255);
    transition-duration: 0.5s;
    transform: scale(1.3);
}

.parte_publico_gerenciamento{
    background: rgb(61, 63, 63);
    background: linear-gradient(0deg, rgb(97, 94, 97) 14%, rgb(129, 120, 131) 29%, rgba(255,179,225,1) 91%);
    display: flex;
    flex-direction: row;
    padding-top:7%;
    padding-bottom: 7%;
    padding-left: 5%;
    padding-right: 5%;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

.parte_publico_gerenciamento img{
    height: 480px;
}

.parte_pg_textos{
    display: flex;
    flex-direction: column;
    gap:40px;
}

.parte_pg_textos_principal{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.parte_pg_textos_titulo{
    color: #000;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 57.6px */
}

.parte_pg_textos_paragrafo{
    color: #000;
    /* Text/Medium/Normal */
    font-family:sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
}

.parte_pg_textos_topicos{
    display: flex;
    flex-direction: row;
    padding: 8px 0px;
    align-items: flex-start;
    gap: 80px;
    align-self: stretch;
}

.parte_pg_textos_topicos img{
    width: 48px;
    height: 49px;
}

.parte_pg_textos_topicos_elemento{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    flex: 1 0 0;
}

.parte_pg_textos_topicos_elemento_titulo{
    color: #000;
    /* Heading/H6 */
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 28px */
}

.parte_pg_textos_topicos_elemento_paragrafo{
    color: #000;
    /* Text/Regular/Normal */
    font-family:sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

.parte_cliente_produto_julgamento{
    padding-top: 7%;
    padding-bottom: 7%;
    padding-left: 7%;
    padding-right: 7%;
    justify-content: space-around;
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 48px;
    align-self: stretch;
}

.parte_cliente_produto_julgamento img{
    width: 409px;
    height: 240px;
}

.parte_cpj_elemento{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    gap:30px;
    margin: 0%;
}

.parte_cpj_titulo{
    color: #000;
    /* Heading/H5 */
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 33.6px */
}

.parte_cpj_paragrafo{
    color: #000;
    /* Text/Regular/Normal */
    font-family:sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

.parte_profissao_pessoal{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 80px;
    padding-top:7%;
    padding-bottom: 7%;
    padding-left: 5%;
    padding-right: 5%;
}

.parte_pp_textos{
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.parte_pp_textos_titulo{
    color: var(--Black, #000);
    /* Heading/H2 */
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 57.6px */
}

.parte_pp_textos_paragrafo{
    color: var(--Black, #000);
    /* Text/Medium/Normal */
    font-family:sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
}

.parte_colegas{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 80px;
    padding-top:7%;
    padding-bottom: 7%;
    padding-left: 5%;
    padding-right: 5%;
    background: rgb(61, 63, 63);
    background: linear-gradient(0deg, rgb(97, 94, 97) 14%, rgb(129, 120, 131) 29%, rgba(255,179,225,1) 91%);
}

footer{
    border-top: 1px solid rgb(43, 43, 44);
    margin-right: 5%;
    margin-left: 5%;
    padding-top: 3%;
    padding-bottom: 2%;
    background: white;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:50px;
}

.footer_textos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.footer_textos_titulo{
    color: var(--Black, #000);
    /* Heading/H2 */
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 57.6px */
}

.footer_textos_paragrafo{
    color: var(--Black, #000);
    /* Text/Medium/Normal */
    font-family:sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
}

.footer_icones{
    display: flex;
    flex-direction: row;
    gap:15px;
}